<div id="<%= dom_id players_queue %>">
  <p>
    <strong>Players:</strong>
    <%= players_queue.players %>
  </p>

  <p>
    <strong>User:</strong>
    <%= players_queue.user_id %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= players_queue.room_id %>
  </p>

</div>
