<h1>Editing players queue</h1>

<%= render "form", players_queue: @players_queue %>

<br>

<div>
  <%= link_to "Show this players queue", @players_queue %> |
  <%= link_to "Back to players queues", players_queues_path %>
</div>
